* {
    margin: 0;
    padding: o;
}

.cabecalho {
    background-color: #000;
    width: 100%;
    height: 100px;
}

.principal {
    background-color: #d4d4d4;

}

.rodape {
    background-color: #f2f2a2;
}